.buttom {
    background: $section-bg-color;

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;

        .rights {
            color: grey;
            font-size: 0.6em;
            padding-top: 8px;
        }

        .about {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;

            h6 {
                color: grey;
                line-height: .1em;
                font-size: 0.4em;
            }
        }

        a {
            color: $buttom-bg-color;
            text-decoration: none;
            font-size: 0.7em;
            transition: 0.3s;

            &:hover {
                color: blue;
                transform: scale(1.2);
                font-weight: bold;
            }
        }
    }

    svg {
        width: 17px;
        height: 17px;
        padding: 10px;
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            transform: scale(1.5);
        }
    }
}