.box {
    background: $section-bg-color;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 80px;
    margin: auto;

    i {
        font-size: 2.5em;
        color: $buttom-bg-color;
        padding: 10px;

        &:hover {
            transform: scale(1.2);
        }
    }

    p {
        width: 200px;
        font-size: 0.7em;
        padding: 5px;
        line-height: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.body {
    display: flex;
    flex-direction: row;

    article {
        display: flex;
        align-items: center;
        width: 50%;

        .text {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin: auto;
        }

        h3 {
            padding-bottom: 10px;
        }
    }

    .img {
        width: 50%;
        height: 280px;
        transition: 0.3s;

        &:hover {
            transform: scale(1.2);
            border-radius: 30px;
        }
    }

    .img-1 {
        background: $img-1-bg;
        @include bg;
    }

    .img-2 {
        background: $img-2-bg;
        @include bg;
    }

    .img-3 {
        background: $img-3-bg;
        @include bg;
    }

    &:hover {
        cursor: pointer;
        color: grey;
    }
}

.body:nth-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
}