@mixin top {
    text-decoration: none;
    padding: 10px;
    font-size: 0.7em;
    color: black;

    &:hover {
        transform: scale(1.1);
    }

}

@mixin Buttom {
    background: $buttom-bg-color;
    color: white;
    border-radius: 6px;
}

@mixin bg {
    background-size: cover;
    background-position: center;
}

@mixin header {
    header {
        width: 320px;
        margin: auto;

        nav {

            a.left {
                font-size: 1.2em;
            }

            a.right {
                font-size: 1em;
                padding: 8px 10px;
                margin: 8px 0;
            }
        }
    }
}

@mixin head {
    .head {
        padding: 120px 0;

        h1 {
            letter-spacing: 1px;
            width: 90%;
        }

        h2 {
            font-size: 1.9em;
            width: 90%;
        }

        input {
            font-size: 1.3em;
            width: 90%;
            padding: 12px;
        }

        a {
            font-size: 1.3em;
            width: 90%;
            padding: 12px;
            margin: 0;
        }
    }

    .sign {
        width: 92%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@mixin main {
    main {
        width: 320px;

        .box {
            display: flex;
            flex-direction: column;
            gap: 60px;
            padding: 120px 0;

            i {
                font-size: 4em;
            }

            h4 {
                font-size: 1.6em;
                padding: 20px 0 5px 0;
            }

            p {
                color: grey;
                width: 90%;
                line-height: 30px;
                font-size: 1.2em;
                margin: 0 auto;
            }

        }

        .body {
            display: flex;
            flex-direction: column-reverse;
            gap: 50px;
            margin: 0;

            article {
                width: 100%;

                .text {
                    width: 70%;
                    padding-bottom: 60px;
                }

                h3 {
                    width: 80%;
                    font-size: 1.9em;
                }

                p {
                    color: grey;
                    font-size: 1.2em;
                    line-height: 30px;
                }
            }

            .img {
                width: 100%;
                height: 470px;
                margin: auto;
                background-size: cover;
                background-position: left center;
            }
        }

        .body:nth-of-type(2) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

@mixin reviews {
    .reviews {
        width: 320px;

        h2 {
            font-size: 1.9em;
        }

        .people {
            display: flex;
            flex-direction: column;

            .remarks {
                width: 98%;
                margin: auto;

                h5 {
                    font-size: 1.3em;
                }

                p {

                    font-size: 1em;
                    line-height: 24px;
                }

                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}

@mixin footer {
    footer {
        width: 320px;
        margin: auto;

        .buttom {
            display: flex;
            align-items: center;

            .footer {
                display: flex;
                flex-direction: column;
                align-items: center;

                .last {
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin: auto;
                }

                .rights {
                    font-size: 0.8em;
                    padding-top: 15px;
                }

                .about a {
                    font-size: 1em;
                }

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

}