.reviews {
    background: $section-bg-color;
    max-width: 960px;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        margin-bottom: 30px;
    }

    .people {
        display: flex;
        margin: auto;
        justify-content: center;

        .remarks {
            width: 220px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        margin: 10px;
    }

    p {
        color: grey;
        font-size: 0.6em;
        line-height: 16px;
        padding: 10px;
    }
}