.reviews {
    background: $section-bg-color;
    max-width: 960px;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        margin-bottom: 30px;
    }
    
    .imga-1 {
            @include img;
            background: $img-1-rvw;
            background-size: cover;
            background-position: center;
        }

        .imga-2 {
            @include img;
            background: $img-2-rvw;
            background-size: cover;
            background-position: center;
        }

        .imga-3 {
            @include img;
            background: $img-3-rvw;
            background-size: cover;
            background-position: center;
        }

    .people {
        display: flex;
        margin: auto;
        justify-content: center;

        .person {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    

        .remarks {
            width: 220px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    p {
        color: grey;
        font-size: 0.6em;
        line-height: 16px;
        padding: 10px;
    }
}
