@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');
@import "variables";
@import "general";
@import "mixin";
@import "header";
@import "main";
@import "reviews";
@import "bottom";
@import "media";