$bg-color: #333c41;
$header-bg-color: url(../images/bg-masthead.jpg);
$text-style: "lato";
$section-bg-color: #f8f9fa;
$buttom-bg-color: #007bff;
$main-bg-color: #ffffff;
$img-1-bg: url(../images/bg-showcase-1.jpg);
$img-2-bg: url(../images/bg-showcase-2.jpg);
$img-3-bg: url(../images/bg-showcase-3.jpg);
$img-1-rvw: url(../images/testimonials-1.jpg);
$img-2-rvw: url(../images/testimonials-2.jpg);
$img-3-rvw: url(../images/testimonials-3.jpg);